html
  include index.html
  body
    div(class="col-md-9 col-md-offset-1")
      p(id="message" class="col-md-9" style="font-size: 250%; width: 100%; margin-top: 5px; margin-bottom: 10px") Lumines Game
      div(class="row" style="margin-left:0px; margin-right:0px")
      div(class="col-md-4")
        p(id="scoretext" style="font-size:200%;") Current Score
        p(id="score" style="font-size:300%") 0
      div(class="col-md-4")
        p(style="font-size:200%;") Remaining Time
        p(id="time" style="font-size:300%") 90
      div(class="col-md-4")
        button(id="start_button" class="btn btn-primary" style="width: 100%;") Start Game
        button(id="pause_button" class="btn btn-primary" style="width: 100%") Pause
    div(class="wrapper row" style="margin-top: 3%; margin-left:0px; margin-right:0px")
      p(id="replay_id")!= data
      div(id="game-arena" class="center" style="float: left; margin-left: 20%")
      //div(id="scoreboard" style="width: 350px; height: 360px; float: left; margin-bottom: 0px")
    a(id="test" href="#example" class="fancybox" style="font-size:0px") Example
  
  div(id="example" style="display:none")
    p(id="content" class="text-center" style="font-size: 200%")
    p(id="statistics_text" class="text-left")
    input(class="form-control" id="share_link" style="width: 100%; display:none")
    br
    button(id="fancy_restart" class="btn btn-primary") Play Again
    br
    include advertisement.html

  script(src="js/engine.js")

  script.
    $(document).ready(function() {
        $('.fancybox').fancybox({
            'width' : 800,
            'height' : 420,
            padding : 0,
            openEffect  : 'elastic',
            'autoSize' : false
        });
    });
  script.
    if ( $("#replay_id").text().length >= 12) {
      if (replayEngine.replayMode === true) {
        replayEngine.replayMode = false;
        // pause game
      } else {
        var replay_id = $("#replay_id").text();
        console.log("replay_id = " + replay_id);
        replayEngine.replayMode = true;
        get_replay_data(replay_id, function(res) {
          // this is the data saved in DB.
          console.log(res);
          replayEngine.unzip(res[0]["replay"]);
          game.restart();
        });
      }
    }
