html
  head
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
    link(rel="stylesheet" href="./js/fancybox/jquery.fancybox.css" type="text/css" media="screen")
    script(type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js")
  body
    a(href="images/blue_30_30.png" class="fancybox" title="Sample title") 
      img(class="fancybox" src="images/blue_30_30.png")
    a(href="#example" class="fancybox") Example
  script.
    $(document).ready(function() {
        $('.fancybox').fancybox({
            padding : 0,
            openEffect  : 'elastic'
        });
    });
